body       { font-family: font-family: "Courier", serif; font-size: 16px; color: #000000; }
a, h1, h2  { color: #00008F; }
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
.heading   { font-weight: bold; }
.page      { margin:.1em auto; padding:.1em; width: 504px;  }
.review    { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; }
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}