<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image Recognition and Translation</title>	  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
	   <div class="navbar-brand">Image Recognition and translation</div>
	</div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %} 
    </div>
  </body> 
</html>


