{% extends "base.html" %}
{% block content %}
<h3>This Python Flask application uses Google Cloud Vision API and Google Cloud Translation API to 
	recognize images and translate to different languages</h3>
    <form action="upload" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      Choose your target language:<br> 
    <select name="target_lang">
      <option value ="zh-CN">Simplified Chinese</option>
      <option value ="fr">French</option>
      <option value ="de">German</option>
      <option value ="es">Spanish</option>
      <option value ="ru">Russian</option>
      <option value ="it">Italian</option>
    </select>
    <br><br>
    <input type="submit" name="submit" value="submit">
    </form>
{% endblock %}
