{% extends "base.html" %}
{% block content %}
<h1>Result:</h1>
    <img src="{{source_uri}}" width=200 height=200>
    {%for i in range (j)%}
    <h3><p>{{labels[i].description}}: {{result[i].translatedText}}</p></h3>
    {%endfor%}
{% endblock %}
